@import "tailwindcss";

:root {
    --bg-color: #fbf8ee;
    --main-color: #dddaf4;
    --swirl-color: #9fa8f0;
    --secondary-color: #473c8b;
    --main-font-color: #22224f;
    --intro-font: "Lobster";
    /*sans serif */
    --navFooter-font: "Raleway";
    --subtext: "Playfair Display";

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
